version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2024.01
    steps:
      - checkout
      - run:
          name: Build
          command: deno task build

  test:
    docker:
      - image: cimg/base:2024.01
    steps:
      - checkout
      - run:
          name: Test
          command: deno task test:all

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build